body {
    background-color: lightslategray;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30px;
    border-color: darkgray;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

ol,ul,image,p{
    display: block;
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navigasi{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: steelblue;
}

.navigasi li{
    float:left;
}

a:link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigasi li:last-child{
    float: right;
}
a:hover{
    background-color: black;
}