body {
    background-color: lightslategray;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: darkgray;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

ol,ul,image,p{
    display: block;
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navigasi{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: steelblue;
    position: sticky;
    top: 0;
}

.navigasi li{
    float:left;
}

a:link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigasi li:last-child{
    float: right;
}
a:hover{
    background-color: black;
}
* {
    margin:0;
    padding:0;
}

table,tr,td{
    border: 1px solid black;
}

table{
    max-width: 500px;
    margin: 0px auto;
    border-collapse: collapse;
    
}
thead{
    background-color: #333;
    color: white;
}

th,td{
    padding: 15px;
    text-align: left;
}
tr:hover{
    background-color: skyblue;
}
.footer{
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
}
.Form-Register{
    position: static;
    margin-bottom: 100px;
}
.Content-Form h1{
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 100px;
}